<h2>Jogadores à Venda</h2>

<%# Lista personalizada  %>

<ul class="list-group">

  <% @players.each do |player| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">

      <div class="d-flex">
        <div>
          <%= image_tag("pele.jpg", size: "40x40", class: "rounded-circle")  %>
        </div>
        <div>
          <h4><%= link_to player.name, player_path(player) %></h4>
        </div>
      </div>

      <div>
        <p><%= player.price %></p>
      </div>

      <div class="align-self-end">
        <%= link_to "Comprar", "#", class: "badge badge-success" %>
      </div>
    </li>
  <% end %>
</ul>
