// Kitt UI Le Wagon

// Card product - Le Wagon - Players#index

.cards-player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 16px;
  column-gap: 10px;
  flex-grow: 1;
  margin-top: 20px;
}

.card-player {
  overflow: hidden;
  height: 130px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-player img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-player h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-player p {
  font-size: 14px;

  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
}

.card-player .card-player-infos {
  padding: 16px;
}

// Kit UI Le Wagon para a página Home
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 26px;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Card para o show

.card-show img {
  height: auto;
  width: 250px;
  object-fit: cover;
}
